# ==== Alamat postgres ====
#
# contoh:
# DATABASE_URL=postgresql://myuser:mypassword@127.0.0.1:5432/mydatabase
DATABASE_URL=

# ==== port server (opsional) ====
# default port: 3000
#
# contoh:
# PORT=3000
PORT=
