# ==== Alamat postgres ====
#
# contoh:
# DATABASE_URL=postgresql://myuser:mypassword@127.0.0.1:5432/mydatabase
DATABASE_URL=

# ==== port server (opsional) ====
# default port: 3000
#
# contoh:
# PORT=3000
PORT=

# ==== port server (opsional) ====
SECRET=

# ==== KEBUTUHAN DOCKER ====
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=
# DOCKER_DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable"
# HOST_PORT=3000
