# ========================
# Konfigurasi Database
# ========================
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ========================
# Port Server (opsional)
# ========================
PORT=

# ========================
# Secret key (untuk JWT)
# ========================
SECRET=

# ========================
# !! JANGAN DISENTUH !!
# ========================
DATABASE_URL="user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} host=${POSTGRES_HOST}"

# ========================
# !! ZONA DOCKER !!
# ========================
DOCKER_POSTGRES_USER=
DOCKER_POSTGRES_PASSWORD=
DOCKER_POSTGRES_DB=
HOST_PORT=3001
# ========================
